[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecCondition=/bin/sh -c '[ -n "$WAYLAND_DISPLAY" ]'
ExecStart=/usr/bin/wlsunset -l "$DARKMAN_LAT" -L "$DARKMAN_LNG"
Slice=background.slice
Restart=on-failure
