[submodule ".local/bin"]
	path = .local/bin
	url = git@github.com:kpatel28/scripts.git
[submodule ".local/share/themes"]
	path = .local/share/themes
	url = git@github.com:kpatel28/themes.git
[submodule ".config/nvim/bundle/syntax"]
	path = .config/nvim/bundle/syntax
	url = https://github.com/mboughaba/i3config.vim.git
[submodule ".config/nvim/bundle/vim-bufferline"]
	path = .config/nvim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
