!     _  __
!    | |/ /________  _________  __  _______________  _____
!    |   // ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
!   /   |/ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  )
!  /_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/
! Xresources file.

!! Global and Terminal Font Settings
!! (Set Monospace font alias in $XDG_CONFIG_HOME/fontconfig/fonts.conf)
*.font: Monospace:pixelsize=32:dpi:192:antialias:true:autohint:false:hinting:true; 32
Xft.antialias: true
Xft.autohint:  false
Xft.hinting:   true
Xft.hintstyle: hintfull
Xft.rgba:      rgb

!! Global DPI
*dpi:          192
Xft.dpi:       192

!! xst settings
st.termname: xst-256color
st.opacity: 0.80
st.disable_alpha_correction: 0

!! sxiv
Sxiv.background: #000000
Sxiv.foreground: #00C0FF

!! Base16
*.scheme: "Gruvbox dark, hard"
*.author: "Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)"
*.base00: 1d2021
*.base01: cc241d
*.base02: 98971a
*.base03: d79921
*.base04: 458588
*.base05: b16286
*.base06: 689d6a
*.base07: a89984
*.base08: 928374
*.base09: fb4934
*.base0A: b8bb26
*.base0B: fabd2f
*.base0C: 83a598
*.base0D: d3869b
*.base0E: 8ec07c
*.base0F: ebdbb2

!! Base16 (st)
*.color0: #1d2021
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2

