# Ignore All:
*

# Traverse Directories
!*/

# Whitelist:
!/dunst/**
!/fontconfig/**
!/htop/**
!/i3/**
!/lf/**
!/ncmpcpp/**
!/neofetch/**
!/nnn/**
!/nvim/**
!/picom/**
!/pistol/**
!/polybar/**
!/qutebrowser/**
!/ranger/**
!/redshift/**
!/rofi/**
!/sxhkd/**
!/tmux/**
!/xonsh/**
!/zathura/**
!aliasrc
!bmdirs
!bmfiles
!mimeapps.list
!README.md
!.gitignore
