# Ignore All:
*

# Traverse Directories
!*/

# Whitelist:
!/alacritty/**
!/bash/**
!/bat/**
!/bspwm/**
!/cargo/**
!/dunst/**
!/fontconfig/**
!/git/**
!/gtk-3.0/**
!/helix/**
!/htop/**
!/i3/**
!/julia/**
!/kak/**
!/lf/**
!/ncmpcpp/**
!/neofetch/**
!/newsboat/**
!/nnn/**
!/nvim/**
!/peaclock/**
!/picom/**
!/pistol/**
!/polybar/**
!/postgres/**
!/pylint/**
!/qutebrowser/**
!/redshift/**
!/rofi/**
!/sxhkd/**
!/tmux/**
!/yay/**
!/zathura/**
!/zsh/**
!mimeapps.list
!README.md
!.gitignore
